* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   line-height: 1.4;
   font-weight: 300;

}

.hero-section{
    background-image: url(image3.avif);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.text-container
{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding left: 16px;
}

.lg